<!-- views/flight.erb -->
<h2>Details for <span class="trip_info"><%= @flight_name %></span></h2>

<h4>Airline: <span class="trip_info"><%= @airline %></span></h4>
<h4>Flight Number: <span class="trip_info"><%= @flight_number %></span></h4>
<h4>Departure Time: <span class="trip_info"><%= @departure_time %></span></h4>
<h4>Destination: <span class="trip_info"><%= @destination %></span></h4>
